.container {
    width: 100%;
    position: relative;
}

.aboutContainer {
    background: rgb(0, 0, 0, 0.8);
    min-height: 100vh;
}

.flex {
    display: flex;
    width: 70%;
    margin: auto;
    align-items: center;
    min-height: 100vh;
}

.leftSection {
    width: 55%;
    color: #fff;
}

.leftSection > h1 {
    font-size: 2.5rem;   
    margin-bottom: 5px; 
}

.leftSection > h1 > span {
    color: #3bffe2;
}

.leftSection > h3 {
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.leftSection > p {
    font-size: 1.2rem;
    line-height: 1.4;
}


.rightSection {
    width: 45%;
    text-align: right;
}

.rightSection > img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}


@media (max-width: 400px) {
    .flex {
        width: 90%;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding: 20px 0px;
        justify-content: center;
    }

    .aboutContainer {
        text-align: center;
    }

    .leftSection {
        width: 100%;
    }

    .leftSection > h3 {
        font-size: 1.3rem;
    }

    .leftSection > p {
        font-size: 1rem;
    }

    .rightSection {
        width: 100%;
        text-align: center;
    }

    .rightSection > img {
        width: 200px;
        height: 200px;
    }
}



@media (max-width: 1440px) {
    .flex {
        width: 90%;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding: 20px 0px;
        justify-content: center;
    }

    .aboutContainer {
        text-align: center;
    }

    .leftSection {
        width: 100%;
    }

    .leftSection > h3 {
        font-size: 1.3rem;
    }

    .leftSection > p {
        font-size: 1rem;
    }

    .rightSection {
        width: 100%;
        text-align: center;
    }

    .rightSection > img {
        width: 200px;
        height: 200px;
        margin-top: 50px;
    }
}